* {
	font-family: monospace;
}
body {
	--panel-height: 36px;
	--editor-width: 450px;
	--terminal-height: 220px;
	--spacing: 5px;
	background-color: #111;
}
@media only screen and (min-width: 1600px) {
	body {
		--editor-width: 550px;
	}
}
@media only screen and (min-height: 850px) {
	body {
		--terminal-height: 300px;
	}
}
#control-panel {
	position: absolute;
	top: var(--spacing);
	left: var(--spacing);
	right: var(--spacing);
	height: calc(var(--panel-height));
	background-color: #aaa;
}
#control-panel .panel-button {
	float: left;
	margin-top: 10px;
	margin-left: 10px;
	cursor: pointer;
}
#control-panel .panel-button.disabled {
	opacity: 0.25;
	cursor: default;
}
.panel-speed {
	float: left;
	margin-top: 8px;
	margin-left: 10px;
}
.panel-speed div.title,
.panel-speed input
{
	display: inline-block;
	vertical-align: middle;
}
.panel-speed div.title {
	margin-bottom: 2px;
}
#editor-section {
	position: absolute;
	left: var(--spacing);
	top: calc(var(--panel-height) + var(--spacing)*2);
	width: var(--editor-width);
	bottom: var(--spacing);
}
#editor-section textarea {
	--padding: 10px;
	--tabsize: 4;
	border: none;
	resize: none;
	padding: var(--padding);
	width: calc(var(--editor-width) - var(--padding)*2);
	background-color: #555;
	height: calc(100% - var(--padding)*2);
	color: #fff;
	-moz-tab-size: var(--tabsize);
	-o-tab-size: var(--tabsize);
	tab-size: var(--tabsize);
	outline: none;
}
#terminal-section {
	position: absolute;
	bottom: var(--spacing);
	left: calc(var(--spacing)*2 + var(--editor-width));
	right: var(--spacing);
	height: var(--terminal-height);
	background-color: #1a1b1a;
	--padding: 10px;
	--input-height: 30px;
	font-size: 0px;
}
#terminal-section textarea {
	border: none;
	resize: none;
	line-height: 150%;
	overflow: hidden;
	width: calc(100% - var(--padding)*2);
	padding-top: var(--padding);
	padding-left: var(--padding);
	padding-right: var(--padding);
	padding-bottom: 0px;
	height: calc(var(--terminal-height) - var(--padding)*3 - var(--input-height));
}
#terminal-section input {
	width: calc(100% - var(--padding)*2);
	border: none;
	padding: var(--padding);
	height: var(--input-height);
}
#terminal-section textarea,
#terminal-section input {
	background-color: transparent;
	color: #6eea6e;
	outline: none;
}
#mem-view-section {
	position: absolute;
	top: calc(var(--panel-height) + var(--spacing)*2);
	left: calc(var(--editor-width) + var(--spacing)*2);
	bottom: calc(var(--terminal-height) + var(--spacing)*2);
	right: var(--spacing);
	overflow: hidden;
	background-color: #222;
}
